---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="'Nuff said!"
	pubDate={new Date('August 31, 2024')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		My name is James Pelster. I'm a computer scientist, software engineer, and
		recent college graduate. I've been interested in computers since a young age,
		and nearly as far back as I can remember, I've been tinkering with or using computers.
	</p>
	<p>
		
	</p>
</Layout>
