---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>🧑‍🚀 Blog of a Software Dev / Virtual (Amateur) Astronaut</h1>
			<p>
				My name is James. I'm a computer scientist, software engineer, and
				recent college graduate. I've been interested in computers since a young age,
				and nearly as far back as I can remember, I've been tinkering with or using computers.
			</p>
			<p>
				I have been programming for over 10 years in various languages, including C++,
				C#, Java, Rust, Python, and various assembly languages. I am most proud of
				my continuing contribution to an open-source space flight simulator project
				called NASSP that recreates the Apollo space missions from the 1960s and 1970s
				in extreme detail, for the purpose of providing a means to study systems, procedures,
				trajectories, and more, in addition to personal enjoyment and interest. I work daily
				with other contributors to improve and expand the 20+ year-old codebase to add new
				features, refactor and redesign dated segments, and to expand our collective
				understanding of one of humankind's most awesome historical accomplishments.
			</p>
			<p>
				Here, I will discuss the various projects I work on, any ideas or thoughts that
				strike me, and perhaps more. It also serves as a means for me to learn some
				web development and technologies. This site is created through the Astro framework
				to generate static, performant HTML content with as little client-side bloat or
				overhead as possible.
			</p>
		</main>
		<Footer />
	</body>
</html>
